In [1]:
%matplotlib inline
# Import the dependencies
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [5]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Tarusa,RU,54.7233,37.1767,31.89,97,100,12.77,light snow
1,1,Fuzhou,CN,26.0614,119.3061,77.45,41,38,4.81,scattered clouds
2,2,Placerville,US,38.7296,-120.7986,65.43,51,12,5.84,few clouds
3,3,Eureka,US,40.8021,-124.1637,56.75,82,19,1.01,few clouds
4,4,Tautira,PF,-17.7333,-149.1500,82.06,77,69,21.14,light rain

In [6]:
city_data_df.dtypes

City_ID                  int64
City                    object
Country                 object
Lat                    float64
Lng                    float64
Max Temp               float64
Humidity                 int64
Cloudiness               int64
Wind Speed             float64
Current Description     object
dtype: object

In [7]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [12]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [13]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps)

# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of temperature.
# Get the latitude and longitude.
locations=city_data_df[["Lat","Lng"]]


#Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

#Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

#Add the heatmap layer.
fig.add_layer(heat_layer)

#Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [18]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Fuzhou,CN,26.0614,119.3061,77.45,41,38,4.81,scattered clouds
4,4,Tautira,PF,-17.7333,-149.1500,82.06,77,69,21.14,light rain
11,11,Tessalit,ML,20.1986,1.0114,79.03,17,2,12.33,clear sky
12,12,Butaritari,KI,3.0707,172.7902,81.63,77,63,17.40,light rain
13,13,Rikitea,PF,-23.1203,-134.9692,78.57,66,1,11.92,clear sky
17,17,Rio Verde De Mato Grosso,BR,-18.9181,-54.8442,76.73,60,7,3.58,clear sky
18,18,Kapaa,US,22.0752,-159.3190,80.58,80,40,17.27,scattered clouds
22,22,Busselton,AU,-33.6500,115.3333,76.12,43,66,10.36,broken clouds
24,24,Avarua,CK,-21.2078,-159.7750,82.45,78,40,12.66,scattered clouds
25,25,Vaini,TO,-21.2000,-175.2000,80.76,89,75,6.91,broken clouds

In [19]:
preferred_cities_df.count()

City_ID                193
City                   193
Country                193
Lat                    193
Lng                    193
Max Temp               193
Humidity               193
Cloudiness             193
Wind Speed             193
Current Description    193
dtype: int64

In [20]:
preferred_cities_df.dropna

<bound method DataFrame.dropna of      City_ID           City Country      Lat       Lng  Max Temp  Humidity  \
1          1         Fuzhou      CN  26.0614  119.3061     77.45        41
4          4        Tautira      PF -17.7333 -149.1500     82.06        77
11        11       Tessalit      ML  20.1986    1.0114     79.03        17
12        12     Butaritari      KI   3.0707  172.7902     81.63        77
13        13        Rikitea      PF -23.1203 -134.9692     78.57        66
..       ...            ...     ...      ...       ...       ...       ...
662      662  Villa Bruzual      VE   9.3328  -69.1208     77.09        75
667      667         Shache      CN  38.4167   77.2406     76.60        12
671      671        Iquitos      PE  -3.7481  -73.2472     75.24       100
683      683       Waingapu      ID  -9.6567  120.2641     86.22        63
684      684         Sorong      ID  -0.8833  131.2500     85.14        65

     Cloudiness  Wind Speed Current Description
1            38        4.81    scattered clouds
4            69       21.14          light rain
11            2       12.33           clear sky
12           63       17.40          light rain
13            1       11.92           clear sky
..          ...         ...                 ...
662          25        3.31    scattered clouds
667           4        2.77           clear sky
671          75        4.61       broken clouds
683          75        6.78       broken clouds
684          58        6.67       broken clouds

[193 rows x 10 columns]>

In [21]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                        City Country  Max Temp      Lat       Lng Hotel Name
1                     Fuzhou      CN     77.45  26.0614  119.3061
4                    Tautira      PF     82.06 -17.7333 -149.1500
11                  Tessalit      ML     79.03  20.1986    1.0114
12                Butaritari      KI     81.63   3.0707  172.7902
13                   Rikitea      PF     78.57 -23.1203 -134.9692
17  Rio Verde De Mato Grosso      BR     76.73 -18.9181  -54.8442
18                     Kapaa      US     80.58  22.0752 -159.3190
22                 Busselton      AU     76.12 -33.6500  115.3333
24                    Avarua      CK     82.45 -21.2078 -159.7750
25                     Vaini      TO     80.76 -21.2000 -175.2000

In [23]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [33]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
  
    # Grab the first hotel from the results and store the name.
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print("Hotel not found... skipping.")
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Fuzhou,CN,77.45,26.0614,119.3061,Shangri La Hotel Fuzhou
4,Tautira,PF,82.06,-17.7333,-149.1500,Pension Oaoa
11,Tessalit,ML,79.03,20.1986,1.0114,
12,Butaritari,KI,81.63,3.0707,172.7902,
13,Rikitea,PF,78.57,-23.1203,-134.9692,
...,...,...,...,...,...,...
662,Villa Bruzual,VE,77.09,9.3328,-69.1208,
667,Shache,CN,76.60,38.4167,77.2406,
671,Iquitos,PE,75.24,-3.7481,-73.2472,
683,Waingapu,ID,86.22,-9.6567,120.2641,
684,Sorong,ID,85.14,-0.8833,131.2500,Waigo Splash Hotel

In [36]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [37]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [38]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))